<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
    <style>
        h1{
            text-align: center;
            color:magenta;
            font-size: medium;
            font-family: 'Times New Roman', Times, serif;
        }
    </style>
</head>
<body>
    <div>
        <h1 text-align="center">Welcome!!</h1>
        <h6>This is HOME page</h6>
    </div>
</body>
</html>